<div class="group-container">
	<h3>Groups</h3>
	<p *ngIf="groups.length < 1">No groups available.</p>
	<ul *ngIf="groups.length > 0">
		<li *ngFor="let g of groups;let i = index">
			<input type="checkbox"
		    value="{{g.id}}"
		    (change)="checkers($event)"
		    class="form-control" 
		    >
		    <div><label>{{g.name}}
		    <a (click)="openModal(uig,g.id)"> View Members</a>
		  </label>
		</div>
		</li>
	</ul>
	<button (click)="newGroup()">New Group</button>
</div>
<p class="sel-notif" *ngIf="targetGroups.length">{{targetGroups.length}} groups selected</p>


<ng-template #uig let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Group Members</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(0)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<p *ngIf="members.length < 1">This group has no members yet.</p>
  	<ul *ngIf="members.length > 0">
  		<li *ngFor="let m of members; let j = index">{{m?.name}}</li>
  	</ul>
  </div>
</ng-template>