<div class="group-container">
	<h3>Groups</h3>
	<p *ngIf="groups.length < 1">No groups available.</p>
	<ul *ngIf="groups.length > 0">
		<li *ngFor="let g of groups;let i = index">
			<input type="checkbox"
		    value="{{g.id}}"
		    (change)="checkers($event)"
		    class="form-control" 
		    >
		    <div><label>{{g.name}}
		    <a (click)="openModal(uig,g.id)"> View Members</a>
		    <a (click)="openRenameGroupModal(renameg,g)"> Update</a>
		    <a (click)="openDelGroupModal(delgroup,g.id)"> Delete</a>
		  </label>
		</div>
		</li>
	</ul>
	<button (click)="newGroup()">New Group</button>
</div>
<p class="sel-notif" *ngIf="targetGroups.length">{{targetGroups.length}} groups selected</p>


<ng-template #uig let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Group Members</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(0)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<table #grp datatable [dtOptions]="dtOptions" class="grp row-border hover grp">
	</table>
  </div>
</ng-template>

<ng-template #renameg let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enter new group name</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(0)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<input type="text" 
    class="form-control"
    id="rname"
    [(ngModel)]="editGroup.name"/>
    <input type="hidden" id="rid" [value]="editGroup.id"/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close(editGroup)">Rename</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(0)">Cancel</button>
  </div>
</ng-template>

<ng-template #delgroup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Group</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(0)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	Are you sure you want to delete this group?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close(1)">Yes</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(0)">Cancel</button>
  </div>
</ng-template>
