<div id="container">
	<div class="body">
		<table #dt datatable [dtOptions]="dtOptions" class="row-border hover">
		  <tfoot style="display: table-header-group;">
		    <tr>
		      <th></th>
		      <th><input class="form-group form-control" type="text" placeholder="Search Question" name="search-cat"/></th>
		      <th><input class="form-group form-control" type="text" placeholder="Search Response" name="search-title"/></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </tfoot>
		</table>
	</div>
</div>