#container{
	padding:20px;
	display: block;
    min-height: calc(100vh - 40px);

    .actions{
    	a{
    		display: inline-block;
    		padding: 8px 10px;
    		background-color: #ff924c;
    		color:#fff;
    		border-radius:8px;
    	}
    }

	table.dataTable{
		tbody{
			tr{
				td{
					img{
						max-width: 50px;
						height: auto;
						object-fit: contain;
					}
				}
			}
		}
		tfoot{
			th,td{
				padding:8px 10px;
				input{
					border-radius: 4px;
    				padding: 4px;
    				border: 0;
    				box-shadow: 0 0 3px 1px #9e9e9e;
				}
			}
		}
	}

	span.actions{
		display: block;
	    width: 100%;
	    text-align: right;
	    padding: 0 0 10px;
	    a{
	    	margin:0 3px;
	    }
	}
	app-groups{
		display: none;
	}
}

.modal-body{

	/* app-groups{

		max-width: 30%;
		width: 275px;
		display: inline-block;
	} */
	div.messaging{
		height: 400px;
		white-space: nowrap;
		display: inline-block;
		vertical-align: text-top;
		width: calc(100% - 270px);
		// max-width: 70%;
		position: relative;
			padding:15px;
		.inner{
			&:before{
				content:"";
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
			//background-color: #ff924c;
			text-align: 	center;
			display: inline-block;
			position: relative;
			width: 100%;
			height: 100%;
			vertical-align: text-bottom;
		}
		.templates{
			height: 370px;
	 		width: 250px;
	 		padding:10px;
		    display: inline-block;
		    position: relative;
		    vertical-align: text-bottom;
		    h3{
		    	margin: 0;
		    	width: 100%;
		    	font-family: SegoeUIB;
		    	color:#ff924c;
		    }
		    .temp{			    	
			    position: relative;
			    width: 100%;
			    display: block;
			    div.list{
			    	position: relative;
			    	height: 150px;
			    	width: 100%;
			    	ul{
			    		height: 100%;
			    		overflow-y: scroll;
					    padding: 0;
					    list-style: none;
					    border-radius: 8px;
					    border: 2px solid gold;
			    		li{
			    			padding:0 2px;
			    			&.selected{
			    				a{
			    					background-color: #ff924c;
			    				}
			    			}
			    			&:hover{
			    				a{
			    					background-color: #ff924c;
			    					
			    				}
			    			}
			    			a{
							    display: block;
							    padding: 5px;
							    cursor: pointer;
							    margin: 3px 0;
							    background-color: burlywood;
							    border-radius: 4px;
							    color:#fff;
			    			}
			    		}
			    	}
			    }
			    div.preview{
			    	padding:15px 0;
			    	textarea{
			    		max-width: 100%;
			    		display: block;
			    	}
			    }
		    }
		}
		mat-card{
			color: #fff;
		    background-color: #ff924c;
		    position: absolute;
		    top: 15px;
		    left: 0;
		    margin: auto;
		    right: 0;
		    width: 80%;
		    white-space: normal;
		    font-size: 0.8rem;
		    a{
		    	// color:#efefff;
		    	&:hover{
		    		color:gold;
		    	}
		    	font-weight: bolder;
		    	font-family: SegoeUIB;
		    	font-size:0.9rem;
		    }
		}
		textarea{
			display: 	inline-block;
			vertical-align: middle;
			height:180px;
			width: 	500px;
			resize: none;
			border:1px solid #ff924c;
		}
		.btn_ctrl{
			display: block;
		    width: 100%;
			text-align: right;
			button{
				border:none;
				border-radius: 16px;
				margin: 0 0 0 10px;
				color:#fff;
				background-color: #ff924c;
				padding:4px 10px;
				text-transform: uppercase;
				&:focus{
					outline: none;
				}
			}

		}
	}
}