<div style="height: auto;" *ngIf="sess">
  <mat-toolbar color="primary">
    <a (click)="sidenav.toggle()"><fa-icon [icon]="faBars"></fa-icon></a>
    <span>VXI Bot CMS</span>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a (click)="sidenav.close()" [routerLink]="'/home'" mat-button>Dashboard</a>
      <a (click)="sidenav.close()" [routerLink]="'/recruitment'" mat-button>Recruitment</a>
      <!-- <a (click)="sidenav.close()" [routerLink]="'/messages'" mat-button>Messaging</a> -->
      <span  *ngIf="pn > 1">
        <a mat-button [matMenuTriggerFor]="messages">Messaging</a>
        <mat-menu #messages="matMenu">
          <a mat-menu-item (click)="sidenav.close()" [routerLink]="'/messages'" mat-button>Messages</a>
          <a mat-menu-item (click)="sidenav.close()" [routerLink]="'/messages/referral'" mat-button>Referrals</a>
          <a mat-menu-item (click)="sidenav.close()" [routerLink]="'/messages/outbox'" mat-button>Outbox</a>
        </mat-menu>
      </span>
      <a (click)="sidenav.close()" *ngIf="pn > 1" [routerLink]="'/user-chats'" mat-button>Chats</a>
      <a (click)="sidenav.close()" *ngIf="pn > 1" [routerLink]="'/keywords'" mat-button>Keywords</a>
      <a (click)="sidenav.close()" *ngIf="pn > 1" [routerLink]="'/chatbot-replies'" mat-button>Chatbot Replies</a>
      <a (click)="sidenav.close()" *ngIf="pn > 1" [routerLink]="'/carousel'" mat-button>Carousel</a>
      <a (click)="logout();sidenav.close()" mat-button>Logout</a>
      <!-- <a (click)="sidenav.close()" href="#" mat-button>Reports</a> -->
    </div>

    <!-- <div fxShow="true" fxHide.gt-sm="true">
    </div> -->
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <!-- <a (click)="sidenav.toggle()" href="#" mat-button>Close</a> -->
        <a (click)="sidenav.close()" [routerLink]="'/home'" mat-button>Dashboard</a>
        <a (click)="sidenav.close()" [routerLink]="'/recruitment'" mat-button>Recruitment</a>
        <!-- <a (click)="sidenav.close()" [routerLink]="'/messages'" mat-button>Messaging</a> -->
        <a *ngIf="pn > 1">
        <a mat-button [matMenuTriggerFor]="messages">Messaging</a>
          <mat-menu #messages="matMenu" xPosition="after">
            <a mat-menu-item (click)="sidenav.close()" [routerLink]="'/messages'" mat-button>Messages</a>
            <a mat-menu-item (click)="sidenav.close()" [routerLink]="'/messages/referral'" mat-button>Referrals</a>
            <a mat-menu-item (click)="sidenav.close()" [routerLink]="'/messages/outbox'" mat-button>Outbox</a>
          </mat-menu>
        </a>
        <a (click)="sidenav.close()" *ngIf="pn > 1" [routerLink]="'/user-chats'" mat-button>Chats</a>
        <a (click)="sidenav.close()" *ngIf="pn > 1" [routerLink]="'/keywords'" mat-button>Keywords</a>
        <a (click)="sidenav.close()" *ngIf="pn > 1" [routerLink]="'/chatbot-replies'" mat-button>Chatbot Replies</a>
        <a (click)="sidenav.close()" *ngIf="pn > 1" [routerLink]="'/carousel'" mat-button>Carousel</a>
        <a (click)="logout();sidenav.close()" mat-button>Logout</a>
        <!-- <a (click)="sidenav.close()" href="#" mat-button>Reports</a> -->
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-login *ngIf="!sess">
</app-login>