#container{
	padding:50px;
	background-color:#fafafa;
	display: block;
	height: 100%;
	width: 100%;
    min-height: calc(100vh - 40px);
    
    .actions{
        text-align: left;
        display: block;
        width: 100%;
    	a{
    		display: inline-block;
    		padding: 8px 10px;
    		background-color: #ff924c;
    		color:#fff;
    		border-radius:8px;
    		&.disabled{
    			cursor: not-allowed;
    			opacity: 0.8;
    		}
    		&.viber{
    			background-color: #59267c;
    		}
    		&.sms{
    			background-color: #d9b90d;
    		}
    	}
    }
	.body{
		max-height: 100%;
	    position: relative;
	    height: calc(100vh - 140px);
		width: 100%;
		display: block;
    	text-align: center;
    	white-space: nowrap;
    }

}

form{
    display: flex;
    div{
        display: flex;
        flex-direction: column;
        &.par{
            flex-grow: 2;
        }
        &.right{
            flex-grow: 1;
            padding:1rem 0;
        }
    }
    span{
        display: block;
        margin:10px;
        label{
            display: block;
        }
        input,select{
            display: block;
            height:35px;
            padding:5px;
        }
    }
}