#container{
	padding:50px;
	background-color:#fafafa;
	display: block;
	height: 100%;
	width: 100%;
    min-height: calc(100vh - 40px);


	.body{
		height: 100%;
		width: 100%;
		display: block;
    	text-align: center;
		.dates{
			mat-form-field{
				input{
					text-align: center;;
				}
			}
		}
		.elem{
			background-color: #fff;
			display: block;
			max-width: 100%;
			padding:10px 5px;
			margin:25px 0;

			canvas{
				max-width: 500px;
				margin:15px auto;
			}

			ul{
				li{
					mat-spinner{
						display: block;
						margin:auto;
					}
				}
			}
		}
	}
}