#container{
	padding:50px;
	background-color:#fafafa;
	display: block;
	height: 100%;
	width: 100%;
    min-height: calc(100vh - 40px);
	.body{
		max-height: 100%;
	    position: relative;
	    height: calc(100vh - 140px);
		width: 100%;
		display: block;
    	text-align: center;
    	white-space: nowrap;
    	&:before{
    		content:"";
    		display: inline-block;
    		height: 100%;
    		vertical-align: text-top;
    	}
    	app-user-chats{
    		display: inline-block;
    		white-space: normal;
    		vertical-align: text-top;
    		position: relative;
    		width: 400px;
    		height: 100%;
    	}
    	section.replying{
    		width: calc(100% - 400px);
    		display: inline-block;
    		white-space: normal;
    		vertical-align: text-top;
    		position: relative;
    		padding:5px 10px;
    		mat-form-field{
    			width: 100%;
    		}
			button{
				border:none;
				border-radius: 16px;
				margin: 0 0 0 10px;
				color:#fff;
				background-color: #ff924c;
				padding:4px 10px;
				text-transform: uppercase;
				float: right;
				&:focus{
					outline: none;
				}
			}
    		div.previews{
    			height: 405px;
    			white-space: nowrap;
    			p{
    				display: inline-block;
    				vertical-align: middle;
    				float: right;
				    width: 75%;
				    padding: 15px;
				    background-color: #ff924c;
				    color: #fff;
				    &:first-of-type{
				    	margin-top: 45px;
				    }
				    margin-right: 15px;
				    border-radius: 16px 16px 0 16px;
				    position: relative;
				    i{
					    display: block;
					    position: absolute;
					    right: 5px;
					    bottom: 5px;
					    font-style: normal;
					    font-size: 0.7rem;
				    }

				   	&.outgoing_msg{
					    color: #ff924c;
					    background-color: #fff;
					    float: left;
					    border-radius: 16px 16px 16px 0;
					    border: 2px solid #ff924c;
				   	}
    			}
    			&:after{
    				content:"";
    				display: inline-block;
    				vertical-align: middle;
    				height: 100%;
    			}
    		}
    	}

    }
}